.title {
    text-align: center;
    font-size: 2em;
    padding-left: 5%;
    padding-right: 5%;
}

.abstract {
  text-align: center;
}
#title {
    font-weight: bold;
    font-size: 1.2em;
}

#desc {
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}
table {
    width: 100%;
}
td.inside {
    padding: 15px;
}

img {
    width: 200px;
    height: 200px;
}

td.side {
    width: 10%;
    padding-left: 0px;
    padding-right: 0px;
    background-color:Tomato
}
